In [128]:
import pandas as pd
import pandas_datareader as pdr
import yfinance as yf
import datetime
import time
end_date = datetime.datetime.now()
start_date = "2019-01-01"
symbols = ['AEM.TO', 'AQN.TO', 'ATD.TO', 'BCE.TO', 'BMO.TO', 'BNS.TO', 'ABX.TO', 'BAM-A.TO', 'BIP-UN.TO', 'CAE.TO', 'CCL-B.TO', 'GIB-A.TO', 'CCO.TO', 'CAR-UN.TO', 'CM.TO', 'CNR.TO', 'CNQ.TO', 'CP.TO', 'CTC-A.TO', 'CVE.TO', 'CSU.TO', 'DOL.TO', 'EMA.TO', 'ENB.TO', 'FM.TO', 'FSV.TO', 'FTS.TO', 'FNV.TO', 'WN.TO', 'GIL.TO', 'IMO.TO', 'IFC.TO', 'H.TO', 'K.TO', 'L.TO', 'MG.TO', 'MFC.TO', 'MRU.TO', 'NA.TO', 'NTR.TO', 'OTEX.TO', 'PPL.TO', 'POW.TO', 'QSR.TO', 'RCI-B.TO', 'RY.TO', 'SNC.TO', 'SAP.TO', 'SJR-B.TO', 'SHOP.TO', 'SLF.TO', 'SU.TO', 'TRP.TO', 'TECK-B.TO', 'T.TO', 'TRI.TO', 'TD.TO', 'TOU.TO', 'WCN.TO', 'WPM.TO']

In [129]:
print(yf.__version__)
def get_data(symbols, time_period):
    #print("Requesting information for " + name)
    #print(start_date, end_date)
    df = yf.download(tickers = symbols, period = time_period, threads=True)['Close']
    return df
df = get_data(symbols, '2y')

#filter_five_days("d")

0.2.3
[*********************100%***********************]  60 of 60 completed

In [130]:
def filter_five_days(df):
    end_date= datetime.datetime.now() - datetime.timedelta(1)
    start_date= end_date-datetime.timedelta(5)
    end_week_no = end_date.weekday()
    start_week_no = start_date.weekday()
    if end_week_no > 6:
        end_date - datetime.timedelta(2)
    elif start_week_no > 6:
        start_date = datetime.timedelta(2)    
    e = str(end_date)[:10]
    s = str(start_date)[:10]
    df1 = pd.DataFrame(columns=['Symbol', 'Five'])
    try:
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    except:
        start_date = start_date - datetime.timedelta(1)
        s = str(start_date)[:10]
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    return df1
        
filtered = filter_five_days(df)
a = filtered.sort_values(by=['Five'],ascending=False)
a.head()

       Symbol      Five
49     SNC.TO  8.416597
25     FSV.TO  6.615329
10  CAR-UN.TO  6.171137
28     GIL.TO  4.561760
4    BAM-A.TO  3.844429

In [132]:
def filter_ten_days(df):
    end_date= datetime.datetime.now() - datetime.timedelta(1)
    start_date= end_date-datetime.timedelta(10)
    end_week_no = end_date.weekday()
    start_week_no = start_date.weekday()
    if end_week_no > 6:
        end_date - datetime.timedelta(2)
    elif start_week_no > 6:
        start_date = datetime.timedelta(2)    
    e = str(end_date)[:10]
    s = str(start_date)[:10]
    df1 = pd.DataFrame(columns=['Symbol', 'Ten'])
    try:
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    except:
        start_date = start_date - datetime.timedelta(2)
        s = str(start_date)[:10]
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    return df1
        
filtered_ten = filter_ten_days(df)
b = filtered_ten.sort_values(by=['Ten'],ascending=False)
b.head()

    Symbol        Ten
49  SNC.TO  18.231343
2   AQN.TO  12.811793
0   ABX.TO  11.158984
32    K.TO  11.050727
12  CCO.TO  11.013356

In [133]:
def filter_twenty_days(df):
    end_date= datetime.datetime.now() - datetime.timedelta(1)
    start_date= end_date-datetime.timedelta(20)
    end_week_no = end_date.weekday()
    start_week_no = start_date.weekday()
    if end_week_no > 6:
        end_date - datetime.timedelta(2)
    elif start_week_no > 6:
        start_date = datetime.timedelta(2)    
    e = str(end_date)[:10]
    s = str(start_date)[:10]
    df1 = pd.DataFrame(columns=['Symbol', 'Twenty'])
    try:
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    except:
        start_date = start_date - datetime.timedelta(1)
        s = str(start_date)[:10]
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    return df1
        
filtered_twenty = filter_twenty_days(df)
c = filtered_twenty.sort_values(by=['Twenty'],ascending=False)
c.head()

    Symbol     Twenty
49  SNC.TO  21.594820
23   FM.TO  14.069981
12  CCO.TO  13.377706
35   MG.TO  11.386341
2   AQN.TO  10.801785

In [116]:
def filter_year(df):
    end_date= datetime.datetime.now() - datetime.timedelta(1)
    start_date= end_date-datetime.timedelta(365)
    end_week_no = end_date.weekday()
    start_week_no = start_date.weekday()
    if end_week_no > 6:
        end_date - datetime.timedelta(2)
    elif start_week_no > 6:
        start_date = datetime.timedelta(2)    
    e = str(end_date)[:10]
    s = str(start_date)[:10]
    df1 = pd.DataFrame(columns=['Symbol', 'YTD CHANGE'])
    try:
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    except:
        start_date = start_date - datetime.timedelta(1)
        s = str(start_date)[:10]
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    return df1
        
filtered_year = filter_year(df)
filtered_year.sort_values(by=['YTD CHANGE'],ascending=False)

       Symbol  YTD CHANGE
54     TOU.TO   46.171638
19     CVE.TO   46.109180
53  TECK-B.TO   34.337043
20     DOL.TO   31.666673
31     IMO.TO   31.597293
14     CNQ.TO   27.295511
50      SU.TO   23.583509
3      ATD.TO   23.169293
30     IFC.TO   21.124966
58      WN.TO   21.044171
42     QSR.TO   20.032528
41     PPL.TO   18.329941
45     SAP.TO   17.867918
33       L.TO   17.226106
59     WPM.TO   17.071218
24     FNV.TO   15.994723
12     CCO.TO   15.415962
38     NTR.TO   14.791811
29       H.TO   13.910017
1      AEM.TO   13.461825
36     MRU.TO   10.584374
0      ABX.TO   10.470535
55     TRI.TO   10.408521
57     WCN.TO    8.654616
27   GIB-A.TO    8.528381
16      CP.TO    6.816530
22     ENB.TO    6.604687
15     CNR.TO    5.007723
17     CSU.TO    3.610211
43   RCI-B.TO    2.606022
47   SJR-B.TO    1.310616
23      FM.TO   -0.193547
34     MFC.TO   -3.355438
37      NA.TO   -3.573597
5      BCE.TO   -6.497262
26     FTS.TO   -6.590067
44      RY.TO   -6.756476
49     SNC.TO   -7.978542
51       T.TO   -8.446404
11   CCL-B.TO   -8.960245
6   BIP-UN.TO  -10.709540
7      BMO.TO  -10.765467
48     SLF.TO  -11.227084
32       K.TO  -11.931820
56     TRP.TO  -12.213494
52      TD.TO  -13.767174
21     EMA.TO  -14.290421
9      CAE.TO  -14.294637
18   CTC-A.TO  -16.405434
25     FSV.TO  -18.062035
40     POW.TO  -18.837490
10  CAR-UN.TO  -20.901277
35      MG.TO  -24.200407
8      BNS.TO  -25.646101
28     GIL.TO  -25.702355
13      CM.TO  -27.505410
39    OTEX.TO  -28.806302
4    BAM-A.TO  -37.045802
2      AQN.TO  -45.352114
46    SHOP.TO  -65.820254

In [134]:
final = a.join(b.set_index('Symbol'), on='Symbol').join(c.set_index('Symbol'), on='Symbol')

In [136]:
def export_to_xslx(df, file_name):
    df.to_excel(file_name, engine='openpyxl')
    print('writing done') 
export_to_xslx(final, 'gains.xlsx')

writing done