In [1]:
import pandas as pd
import pandas_datareader as pdr
import yfinance as yf
import datetime
import time
#end_date = datetime.datetime.now()
#start_date = "2019-01-01"
symbols = ['AEM.TO', 'AQN.TO', 'ATD.TO', 'BCE.TO', 'BMO.TO', 'BNS.TO', 'ABX.TO', 'BAM-A.TO', 'BIP-UN.TO', 'CAE.TO', 'CCL-B.TO', 'GIB-A.TO', 'CCO.TO', 'CAR-UN.TO', 'CM.TO', 'CNR.TO', 'CNQ.TO', 'CP.TO', 'CTC-A.TO', 'CVE.TO', 'CSU.TO', 'DOL.TO', 'EMA.TO', 'ENB.TO', 'FM.TO', 'FSV.TO', 'FTS.TO', 'FNV.TO', 'WN.TO', 'GIL.TO', 'IMO.TO', 'IFC.TO', 'H.TO', 'K.TO', 'L.TO', 'MG.TO', 'MFC.TO', 'MRU.TO', 'NA.TO', 'NTR.TO', 'OTEX.TO', 'PPL.TO', 'POW.TO', 'QSR.TO', 'RCI-B.TO', 'RY.TO', 'SNC.TO', 'SAP.TO', 'SJR-B.TO', 'SHOP.TO', 'SLF.TO', 'SU.TO', 'TRP.TO', 'TECK-B.TO', 'T.TO', 'TRI.TO', 'TD.TO', 'TOU.TO', 'WCN.TO', 'WPM.TO']

In [2]:
def get_data(symbols, time_period):
    #print("Requesting information for " + name)
    #print(start_date, end_date)
    df = yf.download(tickers = symbols, period = time_period, threads=True)['Close']
    return df
df = get_data(symbols, '2y')

#filter_five_days("d")

0.2.3
[*********************100%***********************]  60 of 60 completed

In [3]:
def filter_five_days(df):
    end_date= datetime.datetime.now() #- datetime.timedelta(1)
    start_date= end_date-datetime.timedelta(5)
    end_week_no = end_date.weekday()
    start_week_no = start_date.weekday()
    if end_week_no >= 6:
        end_date - datetime.timedelta(2)
    elif start_week_no >= 6:
        start_date = start_date - datetime.timedelta(2)    
    e = str(end_date)[:10]
    s = str(start_date)[:10]
    df1 = pd.DataFrame(columns=['Symbol', 'Five'])
    try:
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    except:
        start_date = start_date - datetime.timedelta(1)
        s = str(start_date)[:10]
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    return df1
        
filtered = filter_five_days(df)
a = filtered.sort_values(by=['Five'],ascending=False)
a.head()

       Symbol       Five
49     SNC.TO  10.837816
25     FSV.TO   8.773777
10  CAR-UN.TO   8.419358
45     SAP.TO   6.984218
39    OTEX.TO   6.588582

In [4]:
def filter_ten_days(df):
    end_date= datetime.datetime.now() #- datetime.timedelta(1)
    start_date= end_date-datetime.timedelta(10)
    end_week_no = end_date.weekday()
    start_week_no = start_date.weekday()
    if end_week_no > 6:
        end_date = end_date - datetime.timedelta(2)
    elif start_week_no > 6:
        start_date = start_date - datetime.timedelta(2)    
    e = str(end_date)[:10]
    s = str(start_date)[:10]
    df1 = pd.DataFrame(columns=['Symbol', 'Ten'])
    try:
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    except:
        start_date = start_date - datetime.timedelta(3)
        s = str(start_date)[:10]
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    return df1
        
filtered_ten = filter_ten_days(df)
b = filtered_ten.sort_values(by=['Ten'],ascending=False)
b.head()

       Symbol        Ten
49     SNC.TO  16.384178
53  TECK-B.TO  12.432543
23      FM.TO  11.020265
25     FSV.TO  10.810009
28     GIL.TO  10.464803

In [5]:
def filter_twenty_days(df):
    end_date= datetime.datetime.now() #- datetime.timedelta(1)
    start_date= end_date-datetime.timedelta(20)
    end_week_no = end_date.weekday()
    start_week_no = start_date.weekday()
    if end_week_no > 6:
        end_date - datetime.timedelta(2)
    elif start_week_no > 6:
        start_date = datetime.timedelta(2)    
    e = str(end_date)[:10]
    s = str(start_date)[:10]
    df1 = pd.DataFrame(columns=['Symbol', 'Twenty'])
    try:
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    except:
        start_date = start_date - datetime.timedelta(1)
        s = str(start_date)[:10]
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    return df1
        
filtered_twenty = filter_twenty_days(df)
c = filtered_twenty.sort_values(by=['Twenty'],ascending=False)
c.head()

     Symbol     Twenty
49   SNC.TO  25.119311
35    MG.TO  13.825126
46  SHOP.TO  13.659171
28   GIL.TO  13.077764
32     K.TO  12.147889

In [6]:
def filter_year(df):
    end_date= datetime.datetime.now() #- datetime.timedelta(1)
    start_date= end_date-datetime.timedelta(365)
    end_week_no = end_date.weekday()
    start_week_no = start_date.weekday()
    if end_week_no > 6:
        end_date = end_date - datetime.timedelta(2)
    elif start_week_no > 6:
        start_date = start_date - datetime.timedelta(2)    
    e = str(end_date)[:10]
    s = str(start_date)[:10]
    df1 = pd.DataFrame(columns=['Symbol', 'YTD CHANGE'])
    try:
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    except:
        start_date = start_date - datetime.timedelta(1)
        s = str(start_date)[:10]
        for column in df:
            #print(column, 'Percent change', (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100)
            percent_change = (df.loc[e,column] - df.loc[s, column])/df.loc[s, column]*100
            df1.loc[len(df1)] = [column, percent_change]
    
    return df1
        
filtered_year = filter_year(df)
filtered_year.sort_values(by=['YTD CHANGE'],ascending=False)

       Symbol  YTD CHANGE
54     TOU.TO   49.716742
19     CVE.TO   43.458968
53  TECK-B.TO   33.578720
31     IMO.TO   32.041748
20     DOL.TO   28.157320
45     SAP.TO   27.383441
14     CNQ.TO   24.675283
50      SU.TO   24.555357
42     QSR.TO   22.881232
3      ATD.TO   22.267524
30     IFC.TO   21.469481
58      WN.TO   21.211482
41     PPL.TO   20.139409
24     FNV.TO   19.346407
59     WPM.TO   19.311582
12     CCO.TO   18.795690
29       H.TO   16.949145
1      AEM.TO   15.635124
33       L.TO   15.243781
55     TRI.TO   13.724507
38     NTR.TO   13.266570
0      ABX.TO   11.629880
36     MRU.TO   10.553814
16      CP.TO    9.848642
57     WCN.TO    9.401007
27   GIB-A.TO    9.129371
15     CNR.TO    8.070721
22     ENB.TO    7.146962
17     CSU.TO    5.477389
43   RCI-B.TO    4.896233
47   SJR-B.TO    1.831207
34     MFC.TO   -1.779501
37      NA.TO   -2.707255
49     SNC.TO   -3.802533
26     FTS.TO   -5.020351
51       T.TO   -5.505207
5      BCE.TO   -5.590814
6   BIP-UN.TO   -6.878455
44      RY.TO   -7.647865
56     TRP.TO   -9.875765
32       K.TO  -10.155152
48     SLF.TO  -10.198416
11   CCL-B.TO  -10.707933
21     EMA.TO  -10.857709
7      BMO.TO  -11.106603
25     FSV.TO  -12.521693
52      TD.TO  -12.670802
23      FM.TO  -12.765363
18   CTC-A.TO  -15.223288
9      CAE.TO  -15.308569
10  CAR-UN.TO  -17.029496
40     POW.TO  -17.983275
28     GIL.TO  -20.356187
35      MG.TO  -23.299059
8      BNS.TO  -24.948475
39    OTEX.TO  -25.966101
13      CM.TO  -28.514693
2      AQN.TO  -49.116805
46    SHOP.TO  -60.924489
4    BAM-A.TO         NaN

In [7]:
final = a.join(b.set_index('Symbol'), on='Symbol').join(c.set_index('Symbol'), on='Symbol')
final.T

,49,25,10,45,39,28,53,56,9,41,...,30,58,47,36,20,57,38,33,2,4
Symbol,SNC.TO,FSV.TO,CAR-UN.TO,SAP.TO,OTEX.TO,GIL.TO,TECK-B.TO,TRP.TO,CAE.TO,PPL.TO,...,IFC.TO,WN.TO,SJR-B.TO,MRU.TO,DOL.TO,WCN.TO,NTR.TO,L.TO,AQN.TO,BAM-A.TO
Five,10.837816,8.773777,8.419358,6.984218,6.588582,6.586365,6.152101,5.660029,5.485079,5.118707,...,-0.215201,-0.796448,-0.801451,-1.00254,-1.362756,-2.072952,-3.192921,-3.651942,-7.556931,NaN
Ten,16.384178,10.810009,9.626531,8.121677,6.225684,10.464803,12.432543,7.523456,6.238256,7.006652,...,1.838802,0.779785,-0.698759,-1.881301,2.41673,-2.910629,2.819205,-3.748028,-2.934777,NaN
Twenty,25.119311,12.122672,11.278542,9.775119,10.891092,13.077764,8.173077,3.541107,8.856377,4.821888,...,0.504083,-1.619735,7.328668,-3.189546,2.237501,-3.574784,0.019877,-6.339967,-2.617228,NaN

In [8]:
def export_to_xslx(df, file_name):
    df.to_excel(file_name, engine='openpyxl')
    print('writing done') 
export_to_xslx(final, 'gains.xlsx')

writing done

In [9]:
def neg_pos(df):
    for column in df:
        if df.loc['Five', column] > 0 and df.loc['Twenty', column] < 0:
            print('There is a twenty day reversal')
            print(df[column])
        elif df.loc['Five', column] > 0 and df.loc['Ten', column] < 0:
            print('There is a ten day reversal')
            print(df[column])
neg_pos(final.T)

There is a twenty day reversal
Symbol      TOU.TO
Five      4.408978
Ten       3.998113
Twenty   -7.464988
Name: 54, dtype: object
There is a twenty day reversal
Symbol      CVE.TO
Five      2.010242
Ten       3.727448
Twenty   -1.371954
Name: 19, dtype: object
There is a twenty day reversal
Symbol    GIB-A.TO
Five      1.940979
Ten       -1.33458
Twenty    -0.60798
Name: 27, dtype: object